@import "../../Styles/global.scss";

.bottom-bar{
  border-top: 1px solid map-get($colors , border );
  background: #111;
}

.icon{
  border-radius: 10px;
  padding: 5px;
}

.icon-hover:hover{
  background-color: map-get($colors, hover);
  border-radius: 10px;
  padding: 5px;
}
