@import "/src/Styles/global.scss";

.volume-control {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 5px;
  cursor: pointer;
}

/* Доріжка для WebKit (Chrome, Safari) */
.volume-control::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 5px;
}

/* Повзунок */
.volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
}

.volume-control:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background-color: map-get($colors, text);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

/* Для Firefox */
.volume-control::-moz-range-track {
  height: 4px;
  border-radius: 5px;
}

.volume-control::-moz-range-progress {
  background: map-get($colors, text);
  height: 4px;
  border-radius: 5px;
}

.volume-control::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: map-get($colors, text);
  border-radius: 50%;
  cursor: pointer;
}
