@import '../../Styles/global.scss';

.nav-bar {
  border-right: 1px solid map-get($colors, border);
  background-color: map-get($colors, primary);
}

.nav-bar__logo {
  border-bottom: 1px solid map-get($colors, border);
}
